@import "../../../blueprints/node_modules/bootstrap/scss/functions";
@import "../../../blueprints/assets/src/scss/variables.scss";
@import "../../../blueprints/node_modules/bootstrap/scss/mixins";
@import "../../../blueprints/node_modules/bootstrap/scss/utilities";

.flatpickr {
  background-color: white!important;
}

.flatpickr-day.selected  {
  background: $primary!important;
  border-color: $primary!important;
}
